<html>
  <head>
    <title>Odin Inventory APP</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/products">Products</a>
      <a href="/addData">Add Data</a>
      <a href="/about">About</a>
    </div>
    {{{body}}}
  </body>
</html>
